* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* overflow: hidden; */
}

.main-container {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: 33%;
}

.containerr {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.new-task {
    background-color: rgb(84, 98, 93);
    width: 300px;
    /* height: 100px; */
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    margin: 5px;
}

.btn {
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: grey;
}

.addTask {
    background: rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center;
    position: absolute;
}

.addTask-form {
    background: grey;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.popup {
    display: none;
}