@media only screen and (min-width: 750px) {
    .container {
        justify-content: space-between;
        height: 5rem ;
    }
    .new-task{
        font-size: small;
    }
    .sub-heading1{
        font-size: 2rem;
    }
}